.spectacle-slide{
  background-size: contain !important;
  background-repeat: no-repeat;
}
.tech.spectacle-content::before {
    content: '1100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101110000011001000011001111010101001010100110101011110101010101100101001101010010101011010111000001100100001100111101010100101010011010101111010101010110010100110101001010101101011100000110010000110011110101010010101001101010111101010101011001010011010100101010110101';
    color: #1ec503;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    word-wrap: break-word;
    overflow:hidden;
    text-shadow: 2px 2px 4px #005607;
    font-size: 0.7em;
}

.send-button{
  padding: 4% 15%;
  background: #ffcb05;
  min-width: 300px;
  margin-top: 20px;
  text-transform: uppercase;
  border: none;
  color: black;
  outline: none;
  font-weight: bold;
  font-size: 2em;
  box-shadow: 4px 4px #a78400;
  border-radius: 100px;
}
.send-button:hover {
    box-shadow: 8px 8px #a78400;
    margin-top: 10px;
}
.send-button:active {
    margin-top: 26px;
    box-shadow: none;
}

.titled-graph{
  margin-top: -50% !important;
}
